body {
  background-color: #a6e3e9;
  margin: 0;
  text-align: center;

}

/* ***********************************top-container*********************************** */

.top-container{
  position: relative;
  margin-top: 30px;
}

.main-header1{
  margin-top:0;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  color: #11999e;
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.main-header2{
  margin-top: 0;
  font-family: 'Gotu', sans-serif;
  font-size: 20px;
  color: #11999e;
  font-weight: bold;
}

#cloud-1 {
  position: absolute;
  top: 220px;
  width: 150px;
  height: 135px;
}

#cloud-2 {
  width: 150px;
  height: 135px;
  position: absolute;
  left: 1090px;
  top: 90px;
}

#mountain{
  width: 1000px;
  height: 455px;
}

h5 {
  position: absolute;
  font-family: 'Gotu', sans-serif;
  display: inline-block;
  top: 5px;
  right: 250px;
  font-size: 20px;
  color: #11999e;
  margin: 0;
  padding-top: 20px;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition:color 0.5s ease-in;

}

h5:hover{

  color: white;

}

#Work {
  position: absolute;
  right: 280px;
  top: 5px;
}

#Notes {
  position: absolute;
  right: 380px;
  top: 5px;
}

#About {
  color: white;
  position: absolute;
  right: 480px;
  top: 5px;
}

#profile{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 300px;
  top: 2.5px;
  padding-top: 15px;
}

/* ***************************************middle-container**************************************** */
